<h1> All Tasks </h1>
<% @tasks.each do |task|  %>
<input type="checkbox" <%= "checked" if task.completed  %>>
   <%= link_to task.title, task_path(task) %>


<% end %>

<a href="/tasks/new">+ Add a new Task</a>
